body{
  background-color: #599068;
}
.innerbox{
  background-color: #90B49A;
  width: 95%;
  height: 80%;
  margin-left: 2%;
  border: 2px white;
  border-radius: 20px;
  margin-top: 2%;
}
.navbar {
  width: 100%;
  overflow: auto;
  display: flex;
  color: #023020;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar a {
  float: left;
  color: #023020;
  font-size: 17px;
  margin-left: 80px;
  margin-top: 40px;
  text-decoration: none;
  cursor: pointer;
}

.navbar a:hover {
  border-bottom: 2px solid rgb(168, 5, 5);
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.logout{
  cursor: pointer;
  background-color: #023020;
  color: white; 
  border-radius: 20px;
  margin-top: 50px;
  height: 40px;
  width: 100px;
  text-align: center;
  border:none;
  transition: 0.5s;
}
.logout:hover{
  background-color: rgb(168, 5, 5);
  color: white;
}
img{
  width: 700px;
  height: auto;
  margin-top: 50px;
  margin-left: 20px;
}
.about{
  padding: 20px;
  color:#023020 ;
  border-radius: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: x-large;
}
.marquee{
  margin-top: 30px;
  background-color: white;
  color: rgb(168, 5, 5);
  font-size: larger;
}
.product-container{
float: left;
display: none;
overflow-y: auto;
height: 600px;  
}
::-webkit-scrollbar {
width: 10px;
}
::-webkit-scrollbar-track {
background: #90B49A; 
}

::-webkit-scrollbar-thumb {
background: #90B49A; 
}

::-webkit-scrollbar-thumb:hover {
background: #90B49A; 
}
.cart{
  width: 100%;
  outline: 0;
  padding: 15px; 
  color: white;
  border:none;
  cursor: pointer;
  background-color:#023020;
  border-radius:20px;
}
.cart:hover{
	transition:0.5s;
	opacity: 0.7;
}



.products{
  background-color:white;
  color: black;
  width: 150px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 12px 7px 20px 10px rgba(0, 0, 0, 0.4);
  margin: 20px; 
  text-align: center;
}


.offer{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:40px;
margin-left: 150px;
color:#023020;
}

.essential-container{
  background-color:#599068;
  color: black;
  width: 150px;
  height: auto;
  padding: 20px;
  box-shadow: 12px 7px 20px 10px rgba(0, 0, 0, 0.4);
  margin: 20px; 
  text-align: center;
  border-top-right-radius: 20px;
  position: relative;
  border-top-left-radius: 20px;
}
.essential-container button{
  cursor: pointer;
  background-color: #023020;
  text-align: center;
  color: white;
  width: 100%;
  text-decoration: none;
  border: none;
  position: absolute;
  outline: 0;
  padding: 15px;
  bottom: -18px;
  margin-left: -95px;
  }
.essential-container button:hover{
  transition: 0.5s;
  background-color: #3e754d;
  padding: 18px;

}

.image1{
  width:190px; 
  margin-left:-20px;
  margin-top:-20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.cart-button {
  display: flex;
  align-items: center;
  color: #023020;
  background-color: white;
  margin: 20px;
  height: 40px;
  margin-top: 50px;
  border-radius: 20px;
  position: relative;
}

.cart-button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 50px;
  cursor: pointer;
}

.cart-button img:hover{
  width: 35px;
  height: 35px;
  transition: 0.2s;
}

.cart-button button {
  background-color: #023020;
  color: white;
  border: none;
  padding: 13px;
  width: 90px;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  text-align: left;
  font-size: 13px;
}

.head-button {
  display: flex;
  align-items: center;
  color: #023020;
  background-color: white;
  margin: 20px;
  height: 50px;
  margin-top: 50px;
  border-radius: 30px;
}

.head-button img {
  width: 60px;
  height: 40px;
  margin-bottom: 50px;
}
.head-button h3 {
  background-color:rgb(168, 5, 5);
  color: white;
  border: none;
  padding: 20px;
  width: 90px;
  margin-top: 12px;
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;
  text-align: left;
  font-size: 13px;
}
.header{
  margin-top: 50px; 
  background-color: rgb(168, 5, 5); 
  color: white; 
} 

.purchasecount{
  background-color:rgb(168, 5, 5);
  font-size: small;
  width: 20px;
  height: 20px;
  border-radius:10px;
  margin-top: 45px;
  text-align: center;
  border: none;
  position: absolute;
  color: white;
  right: 230px;
  display:none;
}
.purchasecount p{
  margin-top: 2px;
}
.topic{
  display: flex;  
  color: rgb(168, 5, 5); 
  
}
.product{
  display: flex;
  align-items: center; 
  color: #023020;
  border-top: 3px solid lightgray;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-around;
  text-align:left;
  
}

table{
	width: 100%;
	height:70%;
	overflow:auto;
}
table th{
	width:auto;
	margin-left:159px;
}

table td{
	justify-content: space-around;
	overflow:auto;
}
.getItems{
  background-color: #023020;
  color: aliceblue;
  border-radius:20px;
  width: 500px;
  height: 40px;
  border: none;
  margin-left: 20px;
  margin-top:20px;
  cursor:pointer;
}
.getItems:hover{
  transition: 0.5s;
  background-color: rgb(100, 0, 0);
}
.innerdiv img{
  width: 20px;
  margin-right:18px;
  margin-bottom: 48px;
  cursor: pointer;
}
.innerdiv{
  display: flex;
  align-items: center;
  justify-content: space-around ;
  text-align: center;
}
.innerdiv img:hover{
  width: 22px;
}
.list-container{
  display: none;
  
}
.productselect{
  height: 450px;
  overflow: auto;
}
.final-price{
  display: flex;
  margin-top: 10px;
  margin-left: 40%;
  border-top: 2px solid rgb(168, 5, 5);
}
.product img{
  width: 20px;
  margin-right:18px;
  margin-bottom: 48px;
  cursor: pointer;
}








/* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: white;
    border-radius: 50%;
    border: 20px solid #3fa259;
    margin: 5% auto 15% auto; 
    width: 31%; 
    height: 55%;
  }

  .modal-content img{
    width: 120px;
    height: 120px;
    margin-left: 180px;
    margin-top: 102px;
  }

  .modal-content h1{
    margin-left: 100px;
    color: black; 
    font-family: none;
    font-size: xxx-large;
  }

  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

.listcontainer1{
	padding:200px;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.homeimage{
  cursor: pointer;
}

.notify{
  margin-left:96px;

}

  