body{
  background-color: #599068;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.innerbox{
  background-color: #90B49A;
  width: 90%;
  height: 80%;
  margin-left: 5%;
  border: 2px white;
  border-radius: 20px;
  margin-top: 2%;
}
.navbar {
  width: 100%;
  overflow: auto;
  display: flex;
  color: #023020;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar a {
  float: left;
  color: #023020;
  font-size: 17px;
  margin-left: 80px;
  margin-top: 40px;
  text-decoration: none;
}

.navbar a:hover {
  border-bottom: 2px solid rgb(168, 5, 5);
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.logout{
  cursor: pointer;
  background-color: #023020;
  color: white; 
  border-radius: 20px;
  margin-top: 50px;
  height: 40px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border:none;
  transition: 0.5s;
}
.logout:hover{
  background-color: rgb(168, 5, 5);
  color: white;
}
img{
  width: 600px;
  height: auto;
  margin-top: 50px;
}
.about{
  padding: 20px;
  color:#023020 ;
  border-radius: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: x-large;
}
.shopnow{
  background-color: rgb(168, 5, 5);
  color: white; 
  padding: 10px;
  margin-left: 30px;
  border-radius: 20px;
  text-align: center;
  border:rgb(168, 5, 5) ;
  box-shadow: 8px 5px #6e6c6c;
  transition: 0.5s;
  cursor: pointer;
}

.shopnow:hover{
  color: rgb(168, 5, 5);
  background-color: white;
}

.Login{
  background-color: #00a166;
  padding: 15px;
  border-radius: 25px;
  color: white;
  margin-left: 100px;
  width:160px;
  font-size: larger;
  font-family: cursive;

}
.Login:hover{
  color: #00a166;
  background-color:white;
  border-color: #00a166;
  transition-duration: 0.4s;
  border-radius: 30px;
}

input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

button {
background-color: #04AA6D;
color: white;
padding: 12px 18px;
margin: 8px 0;
border: none;
border-radius: 18px;
cursor: pointer;
width: 100%;
}

button:hover {
opacity: 0.8;
}

.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
position: relative;
}

img.avatar {
width: 40%;
border-radius: 50%;
}

.container {
padding: 16px;
}

span.psw {
float: right;
padding-top: 16px;
}

.modal {
display: none;
position: fixed; 
z-index: 1;
left: 0;
top: 0;
width: 100%; 
height: 100%;
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
padding-top: 60px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto; 
border: none;

width: 80%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.close {
position: absolute;
right: 25px;
top: 0;
color: #000;
font-size: 35px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: red;
cursor: pointer;
}

.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)} 
to {-webkit-transform: scale(1)}
} 
@keyframes animatezoom {
from {transform: scale(0)} 
to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
span.psw {
   display: block;
   float: none;
}
.cancelbtn {
   width: 100%;
}
} 

#reset:hover{
height:40px;
width:auto
}

.head-button {
  display: flex;
  align-items: center;
  color: #023020;
  background-color: white;
  margin: 20px;
  height: 50px;
  padding-left: 10px;
  margin-top: 50px;
  border-radius: 30px;
}

.head-button img {
  width: 60px;
  height: 40px;
  margin-bottom: 50px;
}
.head-button h3 {
  background-color:rgb(168, 5, 5);
  color: white;
  border: none;
  padding: 20px;
  width: 90px;
  margin-top: 12px;
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;
  text-align: left;
  font-size: 13px;
}
.header{
  margin-top: 50px; 
  background-color: rgb(168, 5, 5); 
  color: white; 
} 
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}