body{
  background-color: #599068;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.innerbox{
  background-color: #90B49A;
  width: 90%;
  height: 80%;
  margin-left: 5%;
  border: 2px white;
  border-radius: 20px;
  margin-top: 2%;
}
.navbar {
  width: 100%;
  overflow: auto;
  display: flex;
  color: #023020;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar a {
  float: left;
  color: #023020;
  font-size: 17px;
  margin-left: 80px;
  margin-top: 40px;
  text-decoration: none;
  cursor: pointer;
}

.navbar a:hover {
  border-bottom: 2px solid rgb(168, 5, 5);
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.logout{
  cursor: pointer;
  background-color: #023020;
  color: white; 
  border-radius: 20px;
  margin-top: 50px;
  height: 40px;
  width: 100px;
  text-align: center;
  border:none;
  transition: 0.5s;
}
.logout:hover{
  background-color: rgb(168, 5, 5);
  color: white;
}
img{
  width: 700px;
  height: auto;
  margin-top: 50px;
  margin-left: 20px;
}
.about{
  padding: 20px;
  color:#023020 ;
  border-radius: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: x-large;
}
.marquee{
  margin-top: 30px;
  background-color: white;
  color: rgb(168, 5, 5);
  font-size: larger;
}
.product-container{
float: left;
display: none;
overflow-y: auto;
height: 600px;  
}
::-webkit-scrollbar {
width: 10px;
}
::-webkit-scrollbar-track {
background: #90B49A; 
}

::-webkit-scrollbar-thumb {
background: #90B49A; 
}

::-webkit-scrollbar-thumb:hover {
background: #90B49A; 
}
.cart{
  width: 100%;
  outline: 0;
  padding: 12px; 
  color: white;
  border:none;
  cursor: pointer;
  background-color:#023020;
  border-radius:20px;
}
.cart:hover{
    transition:0.5s;
    opacity: 0.7;
}



.products{
  background-color:white;
  color: black;
  width: 150px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 12px 7px 20px 10px rgba(0, 0, 0, 0.4);
  margin: 20px; 
  text-align: center;
}
.products:hover{
    padding: 25px;
    border:2px solid yellow;
}


.offer{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:40px;
margin-left: 150px;
color:#023020;
}

.essential-container{
  background-color:#599068;
  color: black;
  width: 150px;
  height: auto;
  padding: 20px;
  margin: 20px; 
  text-align: center;
  position: relative;
  margin-top: 40px;
  border-radius:20px;
}
.essential-container button{
  cursor: pointer;
  background-color: #023020;
  text-align: center;
  color: white;
  width: 100%;
  text-decoration: none;
  box-shadow: 12px 7px 20px 10px rgba(0, 0, 0, 0.4);
  border: none;
  position: absolute;
  outline: 0;
  padding: 15px;
  bottom: -18px;
  margin-left: -95px;
  border-radius:20px;
  }
  
.essential-container button:hover{
  transition: 0.5s;
  background-color: rgb(168, 5, 5)  ;
  padding: 18px;
}

.image1{
  width:190px; 
  margin-left:-20px;
  margin-top:-20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.cart-button {
  display: flex;
  align-items: center;
  color: #023020;
  background-color: white;
  margin: 20px;
  height: 40px;
  margin-top: 50px;
  border-radius: 20px;
  position: relative;
}

.cart-button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 50px;
  cursor: pointer;
}

.cart-button img:hover{
  width: 35px;
  height: 35px;
  transition: 0.2s;
}

.cart-button button {
  background-color: #023020;
  color: white;
  border: none;
  padding: 13px;
  width: 70px;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  text-align: left;
  font-size: 13px;
}



.head-button {
  display: flex;
  align-items: center;
  color: #023020;
  background-color: white;
  margin: 20px;
  height: 50px;
  margin-top: 50px;
  border-radius: 30px;
}

.head-button img {
  width: 60px;
  height: 40px;
  margin-bottom: 50px;
}
.head-button h3 {
  background-color:rgb(168, 5, 5);
  color: white;
  border: none;
  padding: 20px;
  width: 90px;
  margin-top: 12px;
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;
  text-align: left;
  font-size: 13px;
}
.header{
  margin-top: 50px; 
  background-color: rgb(168, 5, 5); 
  color: white; 
} 
.purchasecount{
  background-color:rgb(168, 5, 5);
  font-size: small;
  width: 20px;
  height: 20px;
  border-radius:10px;
  margin-top: 45px;
  text-align: center;
  border: none;
  position: absolute;
  color: white;
  right: 230px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display:none;
}
.purchasecount p{
  margin-top: 2px;
}

/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal1-content {
  background-color: white;
  border-radius: 50%;
  border: 25px solid rgb(100,0,0);
  margin: 5% auto 15% auto; 
  width: 28%; 
  height: 50%;
}

.modal1-content img{
  width: 120px;
  height: 120px;
  margin-left: 180px;
  margin-top: 102px;
}

.modal1-content h1{
  margin-left: 100px;
  color: black; 
  font-size: xxx-large;
}


/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.billnotext{
  padding: 12px;
  border-radius: 20px;
  width:300px;
  border: none;
  margin-top: 20px;
}

.inputbill button{
  padding: 10px;
  background-color: #023020;
  color: white;
  width: 100px;
  border-radius: 20px;
  margin-left: 30px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.inputbill button:hover{
  transition: 0.5s;
  background-color: rgb(133, 5, 5);
}
.inputbill{
  background-color: #599068;
  padding: 70px;
  margin-right: 100px;
  border: none;
  border-radius: 20px;
  box-shadow: 12px 7px 20px 10px rgba(0, 0, 0, 0.4);
}

.innertotal{
  margin-left:-17px;
  margin-top:32px;
}

.modal img{
  width:50px;
  height:auto;
  margin-left:50px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #599068;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 5px solid rgb(100,0,0);
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius:20px;
  }

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


table {
  border-collapse: collapse;
  width: 100%;
  height: 200px;
  overflow: auto;
}

td {
  text-align: center;
  border-top:2px solid lightgray;
}