body{
  background-color: #599068;
  font-family: math;

}


.innerbox{
  background-color: #90B49A;
  width: 90%;
  height: 80%;
  margin-left: 5%;
  border: 2px white;
  border-radius: 20px;
  margin-top: 2%;

}
.navbar {
  width: 100%;
  overflow: auto;
  display: flex;
  color: #023020;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar a{
  float: left;
  color: #023020;
  font-size: 17px;
  margin-left: 80px;
  margin-top: 40px;
  text-decoration: none;
  cursor: pointer;
}

.navbar a:hover {
  border-bottom: 2px solid rgb(168, 5, 5);
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.logout{
  cursor: pointer;
  background-color: #023020;
  color: white; 
  border-radius: 20px;
  margin-top: 50px;
  height: 40px;
  width: 100px;
  text-align: center;
  border:none;
  transition: 0.5s;
}
.logout:hover{
  background-color: rgb(168, 5, 5);
  color: white;
}
img{
  width: 700px;
  height: auto;
  margin-top: 50px;
  margin-left: 20px;
}
.about{
  padding: 20px;
  color:#023020 ;
  border-radius: 20px;
  font-family: fantasy;
  font-size: x-large;
}
.shopnow{
  cursor: pointer;
  background-color: rgb(168, 5, 5);
  color: white; 
  padding: 10px;
  margin-left: 30px;
  border-radius: 20px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  border:rgb(168, 5, 5) ;
  box-shadow: 8px 5px #6e6c6c;
}

.shopnow:hover{
  color: rgb(168, 5, 5);
  background-color: white;
  transition: 0.5s;

}

.marquee{
  margin-top: 30px;
  background-color: white;
  color: rgb(168, 5, 5);
  font-size: larger;
}
.product-container{
float: left;
display: none;
overflow-y: auto;
height: 600px;  
}
.product-container div{
  margin-top: 20px;
}
::-webkit-scrollbar {
width: 10px;
}
::-webkit-scrollbar-track {
background: #90B49A; 
}

::-webkit-scrollbar-thumb {
background: #90B49A; 
}

::-webkit-scrollbar-thumb:hover {
background: #90B49A; 
}
.cart{
  width: 100%;
  outline: 0;
  padding: 12px; 
  color: white;
  border:none;
  cursor: pointer;
  background-color:#023020;
  border-radius:20px;
}
.cart:hover{
	transition:0.5s;
	opacity: 0.7;
}

.products{
  background-color:white;
  color: black;
  width: 150px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 12px 7px 20px 10px rgba(0, 0, 0, 0.4);
  margin: 20px; 
  text-align: center;

}




.offer{
font-family: fantasy;
font-size:40px;
margin-left: 150px;
color:#023020;
}

.essential-container{
  background-color:#599068;
  color: black;
  width: 150px;
  height: auto;
  padding: 20px;
  box-shadow: 12px 7px 20px 10px rgba(0, 0, 0, 0.4);
  margin: 20px; 
  text-align: center;
  border-top-right-radius: 20px;
  position: relative;
  border-top-left-radius: 20px;  
}
.essential-container button{
  cursor: pointer;
  background-color: #023020;
  text-align: center;
  color: white;
  width: 100%;
  text-decoration: none;
  border: none;
  position: absolute;
  outline: 0;
  padding: 15px;
  bottom: -18px;
  margin-left: -95px;
  transition: 0.5s;
  }
  
.essential-container button:hover{
  background-color: rgb(168, 8, 8);
  padding: 18px;
}

.image1{
  width:190px; 
  margin-left:-20px;
  margin-top:-20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.cart-button {
  display: flex;
  align-items: center;
  color: #023020;
  background-color: white;
  margin: 20px;
  height: 40px;
  margin-top: 50px;
  border-radius: 20px;
  position: relative;
}

.cart-button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 50px;
  cursor: pointer;
}

.cart-button img:hover{
  width: 35px;
  height: 35px;
  transition: 0.2s;
}

.cart-button button {
  background-color: #023020;
  color: white;
  border: none;
  padding: 13px;
  width: 70px;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  text-align: left;
  font-size: 13px;
}



.head-button {
  display: flex;
  align-items: center;
  color: #023020;
  background-color: white;
  margin: 20px;
  height: 50px;
  margin-top: 50px;
  border-radius: 30px;
}

.head-button img {
  width: 60px;
  height: 40px;
  margin-bottom: 50px;
}
.head-button h3 {
  background-color:rgb(168, 5, 5);
  color: white;
  border: none;
  padding: 20px;
  width: 90px;
  margin-top: 12px;
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;
  text-align: left;
  font-size: 13px;
}
.header{
  margin-top: 50px; 
  background-color: rgb(168, 5, 5); 
  color: white; 
} 
.purchasecount{
  background-color:rgb(168, 5, 5);
  font-size: small;
  width: 20px;
  height: 20px;
  border-radius:10px;
  margin-top: 42px;
  text-align: center;
  border: none;
  position: absolute;
  color: white;
  right: 255px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display:none;
}
.purchasecount p{
  margin-top: 2px;
}

.essential-container1{
  color:#023020;
  background-color: white;
  width: 150px;
  height: auto;
  padding: 20px;
  box-shadow: 12px 7px 20px 10px rgba(0, 0, 0, 0.4);
  margin: 20px; 
  text-align: center;
  border-top-right-radius: 20px;
  position: relative;
  border-top-left-radius: 20px;
  border:5px solid #023020;
  cursor: pointer;
}
.essential-container1 button{
  cursor: pointer;
  background-color: #023020;
  text-align: center;
  color: white;
  width: 105.2%;
  text-decoration: none;
  box-shadow: 12px 7px 20px 10px rgba(0, 0, 0, 0.4);
  border: none;
  position: absolute;
  outline: 0;
  padding: 15px;
  bottom: -45px;
  margin-left: -100px;
  transition: 0.5s; 
  }
.essential-container1 button:hover{
  background-color: rgb(168, 8, 8);
  padding: 18px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #599068;
  margin: 12% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 5px solid rgb(100, 0, 0);
  width: 37%; /* Could be more or less, depending on screen size */
  color: rgb(100, 0, 0);
  text-align: center;
  border-radius: 30px;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


.change{
  color: rgb(100, 0, 0);
  background-color: white;
  padding: 7px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.change:hover{
  transition: 0.5s;
  background-color: black;
  color: white;
}

.newuserdiv{
  display: none; 
  background-color: rgb(100, 0, 0); 
  color: white; 
  width: 50%; 
  margin-left: 20%; 
  border-radius: 20px;
  border: none;
  height: 70px;
  align-items: flex-start;
}

.deletebtn{
  cursor: pointer;
  background-color: rgb(168, 5, 5);
  color: white; 
  border-radius: 20px;
  margin-top: 50px;
  height: 40px;
  width: 100px;
  text-align: center;
  border:none;
  transition: 0.5s;
  font-size:x-small;
  display:none;
}
.deletebtn:hover{
  background-color: rgb(100, 0, 0); 
  color: white;
}
.backbtnimage{
  width: 100px; 
  height: auto; 
  cursor: pointer;
}
.modal1 {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal1-content {
  background-color: lightgray;
  margin: 12% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 8px solid #023020;
  width: 70%; /* Could be more or less, depending on screen size */
  text-align: center;
  border-radius: 20px;
  padding: 50px;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.productbuy{
  background-color: rgb(100, 0, 0);
  color: white;
  border: 3px solid rgb(100, 0, 0);
  border-radius: 5px;
  padding: 12px 40px;
  cursor: pointer;
  margin-left: 40px;
  transition: 0.5s;  
}
.productbuy:hover{
  box-shadow: 12px 7px 20px 10px rgba(0, 0, 0, 0.4);
}

.productadd{
  background-color: #023020;
  color: white;
  border-radius: 5px;
  padding: 12px 36px;
  border: 3px solid #023020;
  cursor: pointer;
  transition: 0.5s;  
}
.productadd:hover{
  box-shadow: 12px 7px 20px 10px rgba(0, 0, 0, 0.4);
}

.itemname :hover{
  color: rgb(168, 5, 5);
  cursor: pointer;
}
.feedback{
  height: 30px;
  width: 300px;
  border-radius: 20px;
  border: none;
}
.customerfeed{
  margin-left: 20px;
  background-color: cadetblue;
  color: rgb(220 220 220);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  width:382px;
  font-family: unset;
  height:320px;
  overflow: auto;
  padding: 20px;
}
::-webkit-scrollbar {
  width: 10px;
  }
  ::-webkit-scrollbar-track {
  background: #023020; 
  }
  
  ::-webkit-scrollbar-thumb {
  background: #90B49A; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: #3e754d; 
  }
.thumbsup{
  width:20px; 
  height:17px; 
  margin-left:20px; 
  margin-top:20px; 
  cursor:pointer;
}
.loader {
  color: black;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 
    2em -2em 0 0em, 3em 0 0 -1em, 
    2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
    3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 
    2em -2em 0 0, 3em 0 0 0.2em, 
    2em 2em 0 0, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
     -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
     -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
     -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
    3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
#image{
  margin: 0;
}

  